@import './dust-220609.less';

h {
  font-size: 2rem;
	width: 100%;
}

money {
  width: 600px;
  height: 256px;
  display: block;
	margin: 10px;

  background-image: url("./res/garbage.png");
}

db, bb {
	display: block;
}

bb > * {
	margin: 10px;
	display: block;
}

.hide {
  display: none !important;
}

body.dark {
  bb {
    display: none !important;
  }
}

body.bright {
  db {
    display: none !important;
  }
}

:root {
  --color-mid: #aaa;
}