h {
  font-size: 2rem;
}

money {
  width: 512px;
  height: 256px;
  display: block;

  background-image: url("./res/garbage.png");
}

body.dark {
  db {
    //display: none;
    display: block;
  }

  bb {
    //display: block;
    display: none;
  }
}

body.bright {
  db {
    display: none;
  }

  bb {
    display: block;
  }
}
