head
	meta(charset=utf-8)
	meta(name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0")
	link(type="text/css" rel='stylesheet', href='./index.css')
	link(rel="stylesheet" href="https://cdn.jsdelivr.net/npm/water.css@2/out/water.css")

body.bright
	bb

		h ld47
		iframe(src="https://itch.io/embed-upload/5870356?color=333333" allowfullscreen="" width="600" height="400" frameborder="0")
			a(href="https://tynrare.itch.io/ld47") Play ld47 on itch.io

		h 
			iframe(src="https://itch.io/embed/217041?border_width=0" width="200" height="160" frameborder="0")
				a(href="https://tynrare.itch.io/ggj2018") sataNwing 2018 by tynrare
			iframe(src="https://itch.io/embed/779219?border_width=0" width="200" height="160" frameborder="0")
				a(href="https://tynrare.itch.io/ggj2018") ld47 by tynrare
			iframe(src="https://itch.io/embed/361379?border_width=0" width="200" height="160" frameborder="0")
				a(href="https://tynrare.itch.io/ggj2018") Dear dear home - episode 3/4 by tynrare
		//iframe(src="https://itch.io/embed-upload/665247?color=333333" allowfullscreen="" width="640" height="380" frameborder="0")
			//a(href="https://tynrare.itch.io/ld47") Play sataNwing on itch.io

	include yandexads.pug

	db
		h dust 220606 ▮
		text: include:markdown-it index.md
